*{
    box-sizing: border-box;
}

.parent{
    border: 5px solid blue;
    height: 80vh;
    /* padding: 100px  0; */
    /* flex parent */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}

.child{
    border: 5px solid red;
    font-size: 36px;
    padding: 20px;
    /* width: 100px;
    height:100px;  */
    flex: 1 1 200px;
} 

.child4{
    /* margin-left: auto; */
    /* align-self: center ; */
    order: -1;
}